.container-1 {
    border: solid black;
    margin: 75%;
    margin: 0 auto;
    text-align: center;
}
.flex-box-container-1 {
    display: flex;
    border: 1px solid black;
    padding: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
body {
    background-color: cornflowerblue;
}